<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.accomodationfinder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AccomodationFinder">
        <activity
            android:name=".PickupSearchResults"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".RequestAirportPickup"
            android:exported="false" />
        <activity
            android:name=".AccomodationSearchResultsUniversity"
            android:exported="false" />
        <activity
            android:name=".AccomodationSearchResults"
            android:exported="false" />
        <activity
            android:name=".FindAirportPickup"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SearchbyArea"
            android:exported="false" />
        <activity
            android:name=".SearchByUniversity"
            android:exported="false" />
        <activity
            android:name=".PostAccomodation"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>